a {
    color: #60C322
}

a:hover {
    color: #60C322
}


.btn.btn-circle { border: 2px solid #fff;border-radius: 50px; color:#fff}
.btn.btn-outline { background-color: transparent; }




/* Tabs*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs {
    background: #007b5e;
    color: #60C322;
}
    #tabs h5.section-title {
        color: #60C322;
    }

    #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #60C322;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 4px solid !important;
        font-size: 20px;
        font-weight: bold;
    }
    #tabs .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: black;
        font-size: 20px;
    }




