@using System.ComponentModel
@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.DependencyInjection
@model Djm.OGame.Web.Api.BindingModels.CompoundBindingModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService


<!DOCTYPE html>

<html>
<head>
    <title>Djm Ogame</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



    <link rel="stylesheet" href="~/Css/StyleSheet.css" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="http://localhost:53388/articles">Djm OGame</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:53388/swagger/">Api</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Infos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                
                @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                {
                    <li class="nav-item">
                        <a id="createBtna"class="nav-link" href="#">Créer un article</a>
                    </li>
                }
                
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button id="lblLogin" lblLogin class="btn btn-link">@Context.Session.GetString("login") </button>
                    </li>
                    <li class="nav-item">
                        <button id="connectBtn" class="btn btn-default btn-outline btn-circle collapsed">Connexion</button>
                    </li>
                </ul>
            </nav>

            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 100px">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="container-fluid">
                                <ul class="nav nav-tabs" role="tablist" style="margin-left: 10px;">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#login" role="tab" data-toggle="tab"><h5>&#160 &#160 Se connecter &#160 &#160  </h5></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#register" role="tab" data-toggle="tab"><h5>&#160 &#160 S'enregistrer &#160 &#160 </h5></a>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="tab-content">

                                <div class="tab-pane active" id="login">
                                    <form asp-controller="Account" method="post" asp-action="SignIn" id="loginForm" asp-antiforgery="false">
                                        <div class="form-group">
                                            <label asp-for="Connection.Email">Identifiant</label>
                                            <input asp-for="Connection.Email" class="form-control" name="Email">
                                            <span asp-validation-for="Connection.Email" class="text-danger" />
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Connection.Password">Mot de passe</label>
                                            <input asp-for="Connection.Password" class="form-control" name="Password">
                                            <span asp-validation-for="Connection.Password" class="text-danger" />
                                        </div>
                                        <p class="text-danger" id="loginErrorText"></p>


                                        <button type="button" id="loginButton" class="btn btn-success btn-block">Se connecter</button>
                                    </form>
                                </div>

                                <div class="tab-pane" id="register">
                                    <form asp-controller="Account" method="post" asp-action="SignUp" id="registerForm" asp-antiforgery="false">

                                        <div class="form-group">
                                            <label asp-for="Registration.Email"></label>
                                            <input asp-for="Registration.Email" class="form-control" name="Email">
                                            <span asp-validation-for="Registration.Email" class="text-danger" />
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Registration.Password"></label>
                                            <input asp-for="Registration.Password" class="form-control" name="Password">
                                            <span asp-validation-for="Registration.Password" class="text-danger" />
                                        </div>

                                        <div class="form-group">
                                            <label for="PasswordConfirm">Confirmation</label>
                                            <input type="password" class="form-control" name="PasswordConfirm" id="PasswordConfirm">
                                        </div>

                                        <div class="form-group" style="display: inline-block;width:47%">
                                            <label asp-for="Registration.PlayerId" c></label>
                                            <input asp-for="Registration.PlayerId" class="form-control" name="PlayerId">
                                        </div>

                                        <div class="form-group" style="display: inline-block; float: right;width:47%">
                                            <label asp-for="Registration.UniverseId"></label>
                                            <input asp-for="Registration.UniverseId" class="form-control" name="UniverseId">

                                        </div>
                                        <p class="text-danger" id="registerErrortext"></p>
                                        <p class="text-success" id="registerSuccesstext"></p>

                                        <button type="button" id="registerButton" class="btn btn-success btn-block">S'enregistrer</button>

                                    </form>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div class="container">
                @RenderBody()
            </div>
        </div>

        <input type="hidden" id="token" name="token" value=@Context.Session.GetString("token")>

        <script>


            document.addEventListener("DOMContentLoaded", function () {
                if ($('#token').val() != "")
                    $("#connectBtn").html("Déconnexion")
            });

            $('#connectBtn').on('click', function () {

                if ($('#token').val() != "") {
                    $.ajax({
                        url: "/users/account/logout",
                        type: 'GET'
                    });

                    location.reload();

                }

                $('#loginModal').modal('show');
            });

            $('#loginButton').on('click', function () {

                var data = getFormData($("#loginForm"));

                if (data.Email == "" || data.Password == "") {
                    $('#loginErrorText').html("Veuillez completer tous les champs");
                    return;
                }
                $.ajax({
                    url: "/users/account/login",
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    async: true,
                    error: function (response) {

                        $('#loginErrorText').html(response.responseText);
                    },
                    success: function () {
                        location.reload();
                    }
                });

            });

            $('#registerButton').on('click', function () {

                var data = getFormData($("#registerForm"));

                if (data.Email == "" || data.Password == "") {
                    $('#registerErrortext').html("Veuillez completer tous les champs");
                    return;
                }

                if (data.Password != $('#PasswordConfirm').val())
                    $('#registerErrortext').html("Les mots de passe ne correspondent pas");

                $.ajax({
                    url: "/users/account/register",
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    async: true,
                    error: function (response) {
                        $('#registerErrortext').html(response.responseText);
                    },
                    success: function () {
                        $('#registerSuccesstext').html("Compte crée, vous pouvez désormais vous connecter");
                    }
                });

            });

         
            function getFormData($form) {
                var unindexed_array = $form.serializeArray();
                var indexed_array = {};

                $.map(unindexed_array, function (n, i) {
                    indexed_array[n['name']] = n['value'];
                });

                return indexed_array;
            }

        </script>

    </body>
</html>